body{
    background-color: rgb(25, 92, 70,.3);
}

#menu{
    background-color: aquamarine;
}
#grilla{
    background-color: aquamarine;
}
#modal{
    background-color: aqua;
}
#galeria,#gal1,#gal2{
    background-color: aquamarine;
}
#unaCarta{
    background-color: aquamarine;
}
#cards{
    background-color: aquamarine;
}