body{
    background-color: white;
}

#menu{
    background-color: white;
}
#galeria{
    background-color: white;
}
#modal{
    background-color: white;
}
#fotos-m{
    background-color: white;
}
#cartas{
    background-color: white;
}